tqdm
numpy
scipy
pandas
pillow
matplotlib
scikit-learn
torch
torchvision
opencv-python
PyYAML
pydantic
python-multipart
uvicorn
fastapi
prometheus_fastapi_instrumentator
seaborn
jinja2
requests
prometheus_client
monitoring
utils_test
yaml
covidx
cv2
locust
time
pytest
tests
PIL
sklearn
evaluate
api
itertools
