
cv2
fastapi
scipy
time
uvicorn
covidx
PIL
locust
itertools
numpy
torch
matplotlib
monitoring
sklearn
pytest
yaml
prometheus_fastapi_instrumentator
tqdm
api
evaluate
seaborn
pandas
prometheus_client
torchvision
utils_test
tests
